
body{
 
  color:#000;
  font-family: 'PT Sans Narrow', Arial, sans-serif;
  font-size:13px;
  min-height:800px;
}
li{
  list-style: none;
}
a{
  color:#000;
  text-decoration:none;
}


/* 中间内容部分 */
/* 大盒子 */
#show{
  width:1200px;
  margin:0 auto;
  margin-top:10px;
 
/*  background:black;*/
}
/* 包含图片的盒子 */
#pic{
  float: left;
  width:814px;
  height:350px;
  overflow: hidden;
}
#pic img{
  float:left;
}
#qushi{
  font-size:30px;
  float:left;
  width:200px;
  text-align: center;
}
#qushi p{
  cursor: pointer;
  margin-top:50px;
  width:300px;
  height:50px;
  background:pink;
  border-radius:0px 15px;
  line-height: 50px;
  margin-left:30px;
}
#qushi .qushi{
  margin-left:-10px;
}
/* 字体内容 */
#text_qs{
  float:left;
  width:1200px;
  margin:0 auto;
  color:#E9967A;
  margin-top:20px;
}
#title{
  text-align: center;
  font-size:30px;
}
.text_nr{
  font-size:15px;
}

/*--footer start here--*/
.footer {
    padding: 5em 0em;
}
.ftr-grid h3 {
    font-size: 2em;
    color: #000;
    font-family: 'Oswald', sans-serif;
}
.ftr-grid p{
    font-size:1em;
    color:#7B7B7B;
    line-height: 1.7em;
}
span.ftr-line {
    background: #807D7D;
    width: 60px;
    height: 1px;
    display: block;
    margin: 1.5em 8em;
}
span.flm {
   text-align: center;
   margin: 1.5em auto;
}
span.flr {
    text-align: right;
    margin: 1.5em 0em 1.5em 12.4em;
}
.ftr-mid {
    text-align: center;
}
.ftr-rit {
    text-align: right;
}
.ftr-grid ul {
    padding: 0px;
    list-style: none;
}
.ftr-grid ul li {
    display: inline-block;
    margin: 0px 10px 0px 0px;
}
.ftr-grid ul li a span {
    background: url(../images/ftr-icons.png)no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.ftr-grid ul li a span.fa {
    background-position: 0px 0px;
}
.ftr-grid ul li a span.tw {
    background-position: -42px 0px;
}
.ftr-grid ul li a span.gmail {
    background-position: -84px 0px;
}

.ftr-grid ul li a span.fa:hover {
    background-position: 0px 0px;
    opacity: 0.8;
}
.ftr-grid ul li a span.tw:hover{
    background-position: -42px 0px;
    opacity: 0.8;
}
.ftr-grid ul li a span.gmail:hover {
    background-position: -84px 0px;
    opacity: 0.8;
}
/*--footer end here--*/
.copy-right {
    background:rgb(0, 188, 212);;
    padding: 1.5em 0em;
    text-align: center;
}
.copy-rights-main p{
  font-size:1em;
  color:#fff;
}
.copy-rights-main p a{
  color:#fff;
}
.copy-rights-main p a:hover{
  color:#000;
}
/*右边工具栏*/
.anniu{
  z-index: 1000;
  width: 38px;
  height: 200px;
  border: 1px solid #ccc;
  position: fixed;
  right: 0px;
  top:200px; 
  background:white;
  box-shadow: 10px 10px 5px #888888;
}
.work{
  text-align: center;
  margin-top:10px;
  cursor:pointer;
}
.work img{
  width:80%;
}
.work_hr{
  width:25px;
  height:1px;
  background:lightgray;
  margin:0 auto;
  margin-top:5px;
}
/* 微信显示框 */
#weixin_show{
  z-index: 1000;
  width: 150px;
  height: 160px;
  border: 1px solid #ccc;
  position: fixed;
  right: 40px;
  top:230px; 
  background:white;
  box-shadow: 10px 10px 5px #888888;
  display: none;
}
#weixin_show input{
  text-align: center;
  font-size:12px;
  color:gray;
  margin-left:15px;
  border:0;
}
.weixin_hr{
  width:125px;
  height:1px;
  background:lightgray;
  margin:0 auto;
  margin-top:5px;
}
#weixin_show1{
  width:100px;
  height:100px;
  background:pink;
  margin:0 auto;
  margin-top:2px;
}