*,a,li{
  padding:0px;
  margin:0px;
  text-decoration: none;
  list-style: none;
}

/* -------------------------------第一部分------------------------------------- */
header{
  width:1200px;
  height:300px;
  background:lightblue;
  margin:0 auto;
}
/* 头部图片 */
header img{
  width:100%;
  height:100%;
}

/* ----------------------------------------第二部分--------------------------------------- */
nav{
  width:1200px;
  height:50px;
  background:gray;
  margin:0 auto;
  margin-top:10px;
}
nav li{
  float:left;
  width:300px;
  margin-left:50px;
/*   background:yellow; */
  font-size:20px;
  font-family: 楷体;
  line-height:50px;
  text-align: center; 
}
input{
  height:30px;
  border-radius: 5px;
}
/* 站长说 */
#talk{
  width:400px;
}
#talk marquee{
  width:300px;
  height:30px;
  border-radius:4px;
  background:white;
  line-height: 30px;
}

/* 包含左边信息和右边的大盒子 */
.middle_m{
  width:1200px;
  margin:0 auto;
}
#search input{
  height:34px;
}

/* --------------------------------------------左侧信息---------------------------------- */
aside{
  position: relative;
  width:400px;
  height:800px;
  background:lightgray;
  margin-top:10px;
  /*margin-left:75px;*/
  font-family: 楷体;
  float:left;
}

/* 问题选框 */
.question{
  width:300px;
  height:50px;
  margin:0 auto;
  margin-top:10px;
  text-align: center;
}
.question input{
  margin-left:15px;
  line-height: 50px; 
  margin-top:10px;
}

/* 昵称 */
.username,.qq_number,.select,.up,.code,.niming,.textarea{
  width:350px;
  margin:0 auto;
  margin-top:20px;
  font-size:22px;
}
.username input{
  margin-top:5px;
  width:100%;
}
.qq_number input{
  margin-top:5px;
  width:100%;
}
/* 下拉列表框 */
.select select{
  height:23px;
}

/* 上传文件 */
.up .ff{
  margin-top:30px;
  font-size:15px;
  color:red;
}
/* 图片展示框 */
.img{
  width:150px;
  height:150px;
  background:pink;
  position: absolute;
  top:240px;
  right:20px;
}
.img img{
  width:100%;
  height:100%;
}

/* 验证码 */
.code input{
  width:200px;
}

/* 匿名 */
.niming select{
  width:100%;
  height:30px;
  border-radius: 3px;
}

/* 分享 */
.share{
  margin-top:10px;
  text-align: center;
  color:#00CD66;
  font-size:20px;
  font-family: 华文行楷;
}
.textarea textarea{
  width:350px;
  height:120px;
}
.textarea span{
  color:red;
}

/* 表情 */
.textarea .biaoqing{
  font-size:50px;
  color:green;
  float:left;
  cursor: pointer;
}
.textarea .button{
  width:60px;
  height:30px;
  background:white;
  position: absolute;
  right:25px;
  bottom:40px;
  text-align: center;
  font-family: 微软雅黑;
  font-size:18px;
  line-height: 30px;
  box-shadow: 5px 5px 5px #888888;
  cursor: pointer;
}

/* 十字按钮 */
/* .add_img{
  width:50px;
  height:50px;
  background:white;
  margin-left:70px;
  position: relative;
  margin-top:10px;
}
.add_img #col{
  position: absolute;
  width:30px;
  height:3px;
  background:gray;
  left:9px;
  top:24px;
}
.add_img #row{
  position: absolute;
  width:3px;
  height:30px;
  background:gray;
  left:24px;
  top:9px;
} */

/* -----------------------------------右边内容 ----------------------------------------------*/
.message_show{
  width:750px;
 /* height:800px;*/
  background:lightgray;
  float:left;
  margin-left:50px;
  margin-top:10px;
}

/* 1、留言人的显示 */
.show{
  width:300px;
  height:200px;
  background:#F5FFFA;
  float:left;
  margin-left:50px;
  margin-top:10px;
}
/* 标题 */
.show .ask{
  text-align: center;
  background:gray;
  height:40px;
  line-height: 40px;
  color:white;
  font-family: 楷体;
  font-size:20px;
}

/* 标题内容 */
#show1{
  width:300px;
  height:160px;
  overflow: hidden;
}
#show1 .ask1{
  width:300px;
  height:160px;
}
#show1 .ask1 label,#show1 .ask2 label{
  width:80px;
  float:left;
  margin-left:10px;
}
#show1 .ask2{
  width:300px;
  height:160px;
  margin-top:50px;
}
#show1 .ask2 li{
  height:24px;
  float:left;
/*   margin-top:20px; */
}
#show2{
  width:300px;
  height:160px;
  overflow: hidden;
}
#show2 .ask1{
  width:300px;
  height:160px;
}
#show2 .ask1 label,#show2 .ask2 label{
  width:40px;
  float:right;
  margin-left:10px;
}
#show2 .ask1 li{
/*   margin-top:5px; */
  height:24px;
}
.show span{
  color:#FFD700;
  margin-left:10px;
}
.show li{
  margin-left:20px;
}
.show label{
  margin-left:10px;
}

/* 2、留言信息 */
.message_text{
  float:left;
  width:100%;
/*   height:230px; */
  height:auto;
  background:white;
  opacity:0.7;
  margin-top:40px;
  display:-webkit-flex;
  display: flex;
}

/* 左边头像框 */
.left{
  flex:0.3;
}
.left img{
  width:100px;
  height:100px;
  border-radius: 50%;
  text-align: center;
  margin-top:35px;
  
}
.left p{
  text-align: center;
  margin-top:5px;
  font-size:20px;
}

/* 右边内容框 */
.right{
  flex:0.7;
}

.right .top{
  height:30px;
}
.top .span1{
  float:left;
  margin-left:20px;
}
.top .span2{
  float:right;
  margin-right:30px;
}
.top .zan{
  float:right;
  margin-right:-50px;
  font-size:20px;
}
.zan_show{
  float:right;
  margin-top:-25px;
}
.span2 img{
  width:20px;
/*   float:right; */
}
.louceng{
  float:left;
}
/* 下划线 */
.hr{
  width:100%;
  height:1px;
  background:#D15FEE;
}
.top img{
  width:30px;
}

/* 留言内容 */
.middle{
  width:96%;
  height:100px;
  margin-top:20px;
  margin-left:2%;
}
.middle span{
   color:#FFD700;
}
.talk{
  width:99%;
  height:100px;
  background:white;
}
/* 回复框 */
.talk_bottom{}
/* 撤销和回复功能 */
.talk_bottom span{
  margin-top:10px;
  float:right;
  margin-right:30px;
  cursor: pointer;
}
.talk_bottom span:hover{
  color:red;
}
/* 撤销和回复功能 */
.bottom span{
  float:right;
  margin-right:30px;
  cursor: pointer;
}
.huifu{
  float:right;
  margin-top:7px;
  font-size:18px;
}
.bottom span:hover{
  color:red;
}
.replay{
  margin-top:5px;
  height:50px;
}

/* 翻页 */
.text_bottom{
  height:40px;
  width:100%;
  background:#F5F5F5;
  float:left;
  margin-top:10px;
  border-radius:5px;
  line-height: 40px;
  text-align: center;
  font-size:15px;
}
.text_bottom li{
  float:left;
  width:175px;
}
.text_bottom li span{
  color:blue;
}


/* 右边工具 */
.anniu{
  z-index: 1000;
	width: 40px;
	height: 226px;
	border: 1px solid #ccc;
  position: fixed;
	right: 0px;
	top:200px; 
  background:white;
  box-shadow: 10px 10px 5px #888888;
}
.work{
  text-align: center;
  margin-top:10px;
  cursor:pointer;
}
.work img{
  width:80%;
}
.work_hr{
  width:25px;
  height:1px;
  background:lightgray;
  margin:0 auto;
  margin-top:5px;
}
/* 微信显示框 */
#weixin_show{
  z-index: 1000;
	width: 150px;
	height: 160px;
	border: 1px solid #ccc;
  position: fixed;
	right: 40px;
	top:230px; 
  background:white;
  box-shadow: 10px 10px 5px #888888;
  display: none;
}
#weixin_show input{
  text-align: center;
  font-size:12px;
  color:gray;
  margin-left:15px;
  border:0;
}
.weixin_hr{
  width:125px;
  height:1px;
  background:lightgray;
  margin:0 auto;
  margin-top:5px;
}
#weixin_show1{
  width:100px;
  height:100px;
  background:pink;
  margin:0 auto;
  margin-top:2px;
}

/* ---------------------------------------------底部----------------------------------- */
footer{  
  clear:both;
  width:1200px;
  margin:0 auto;
  margin-top:830px;
}
.hr2{
  width:1200px;
  height:1px;
  background:gray;
  margin:0 auto;
}
#banquan{
  position: relative;
  width:1200px;
  height: 200px;
  margin-top:20px;
}
.div{
  float:left;
  margin-left:75px;
  width:300px;
  height:200px;
}
.div p{
  text-align: center;
  font-size: 20px;
  margin-top:20px;
}
.hr3{
  position:absolute;
  width:2px;
  height:190px;
  left: 420px;
  top:10px;
  background:gray;
}
.hr4{
  position:absolute;
  width:2px;
  height:190px;
  left: 820px;
  top:10px;
  background:gray;
}

/* 钟表 */
.clock{
  margin-left:150px;
}

/* ---------------------   回复框   ----------------------------------- */
.huifu_show{
  width:50%;
/*   height:300px; */
  background:white;
  position:absolute;
  margin-left:25%;
  border:1px solid gray;
  margin-top:330px;
  display:none;
}
.user_message{
  width:85%;
  background:lightgray;
  height:100px;
  margin:0 auto;
  margin-top:20px;
  border-radius: 5px;
  border:2px solid aliceblue;
}
.huifu_text{
  width:85%;
  margin:0 auto;
  margin-top:20px;
  border-radius: 5px;
}
.huifu_text1{
  width:100%;
  height:150px;
  background:lightgray;
}
.huifu_button{
  width:80px;
  height:40px;
  font-size:20px;
  font-family:华文行楷;
  background:lightgreen;
  float:right;
  margin-right:7%;
  margin-top:15px;
  margin-bottom:10px;
  cursor:pointer;
}
.huifu_top{
  font-family:楷书;
  font-size:18px;
}

.huifu_content{
  width:95%px;
  height:70px;
  background:green;
  opacity: 0.7;
  margin-top:5px;
}
.quxiao{
  width:80px;
  height:36px;
  line-height: 36px;
  box-shadow: 1px 1px 1px 1px;
  border-radius:3px;
  float:right;
  margin-right:7%;
  margin-top:17px;
}

.ask2 li{
  margin-top:10px;
}